.container {
    background-color: var(--background-base);
}

.link:hover {
    text-decoration: underline;
}

.body {
    position: relative;
    padding: 20px;

    .song-list {
        & > li {
            list-style: none;

            .song {
                padding: 0;
            }
        }
    }

    .header {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > h2 {
            font-size: 4.8rem;
            font-family: var(--font-family-title);
        }
    }
}
