.btn {
    height: 100%;
    font-weight: 700;
    color: var(--text-black);
    background-color: var(--background-white);
    border-radius: 5rem;
    transition: all 0.2s ease;

    &:hover {
        transform: scale(1.04);
    }
}
