.section {
    position: relative;
    height: 100vh;
    background-color: var(--background-white);
}

.underline {
    text-decoration: underline;
    color: var(--background-green-base);

    &:hover {
        opacity: 0.5;
    }
}

.logo {
    padding: 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    & > img {
        margin-right: 4px;
        height: 40px;
        object-fit: cover;
        border-radius: 5rem;
    }

    & > span {
        letter-spacing: normal;
        font-weight: 700;
        font-size: 2.8rem;
        color: var(--text-black);
    }
}

.body {
    position: relative;
    width: 100vw;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--text-black);

        & > h1 {
            margin: 16px 0;
            letter-spacing: normal;
            font-size: 3.2rem;
            font-family: var(--font-family-title);
            text-align: center;
        }

        .form {
            display: flex;
            flex-direction: column;
            align-items: center;

            &-group {
                margin-bottom: 16px;
                width: 450px;
                letter-spacing: normal;
                font-size: 1.4rem;
                font-weight: 700;
                color: var(--text-black);
                display: flex;
                flex-direction: column;

                & > p {
                    margin-bottom: 8px;
                }

                & > div {
                    display: flex;
                    align-items: center;

                    & > label {
                        position: relative;
                        padding: 0 24px;
                        font-weight: 400;
                        font-size: 1.4rem;
                        width: 50%;

                        & > input[type='radio'] {
                            margin-right: 12px;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                            width: 16px;
                            height: 16px;

                            &:checked ~ .checkmark {
                                display: block;
                            }
                        }

                        .checkmark {
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                            width: 16px;
                            height: 16px;
                            background-color: var(--background-green-base);
                            border-radius: 5rem;
                            display: none;

                            &::after {
                                content: '';
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 8px;
                                height: 8px;
                                background-color: var(--background-white);
                                border-radius: 5rem;
                            }
                        }
                    }
                }

                input[type='text'],
                input[type='password'],
                input[type='date'] {
                    height: 48px;
                    width: 100%;
                    padding: 8px 14px;
                    font-size: 1.6rem;
                    border-radius: 4px;
                    outline: none;
                    border: 1px solid var(--background-grey);
                }

                input[type='submit'] {
                    margin: 16px auto 0;
                    padding: 12px 48px;
                    width: fit-content;
                    height: 48px;
                    background-color: var(--background-green-base);
                    font-size: 1.8rem;
                    font-weight: 700;
                    outline: none;
                    border: none;
                    border-radius: 5rem;

                    &:disabled {
                        color: var(--text-black);
                        opacity: 0.6;
                    }
                }

                .password {
                    position: relative;
                }

                .show-pass {
                    position: absolute;
                    top: 50%;
                    right: 12px;
                    transform: translateY(-50%);
                    background-color: transparent;
                }
                .eye {
                    display: none;
                    color: var(--text-grey);
                    font-size: 2rem;
                }

                .show {
                    display: block;
                }

                .name {
                    display: grid;
                    grid-template-columns: 70% 30%;
                    grid-template-rows: 1fr;
                    column-gap: 4px;
                }

                .error-input {
                    border: 1px solid red !important;
                }

                .error-message {
                    margin-top: 4px;
                    font-size: 1.2rem;
                    color: red;
                }
            }
        }

        .register {
            padding: 16px 0;
            display: flex;

            & > span {
                margin-right: 8px;
            }
        }
    }
}
