.section {
    min-height: 100%;
    position: relative;
    background-color: var(--background-grey);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(#00000000, #00000084);
        z-index: 1;
    }
}

.title {
    padding: 30px 22px 16px;
    & > h1 {
        font-family: var(--font-family-title);
        font-weight: 400;
        font-size: 9.6rem;
    }
}

.container {
    position: relative;
    padding: 22px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 25px;
    z-index: 2;
}
