.container {
    display: flex;
}

.item {
    margin: 0 8px;
    padding: 16px;
    width: 100%;
    height: 315px;
    background-color: var(--background-base);
    border-radius: 8px;
}

.m-8 {
    margin: 0 8px;
}

.title {
    margin: 16px 0;
}
