.fav-btn {
    padding: 10px;
    background-color: transparent;

    &:hover {
        transform: scale(1.05);

        & > svg {
            color: var(--text-white);
            transition: all 0.2s ease-in-out;
        }
    }

    & > svg {
        color: var(--text-grey);
    }
}

.active {
    color: var(--background-green-base) !important;
}
