.container {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--background-base);
}

.wrapper {
    padding: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > div {
        margin: 0 4px;
        position: relative;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--text-white);
        background-color: var(--background-black);
        border-radius: 2rem;
        cursor: pointer;
    }
}

.register-login {
    display: flex;
}

.btn {
    height: 48px;
}
