.container {
    width: 100%;
    min-height: 66px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#af2896),
        to(#509bf5)
    );
    background-image: linear-gradient(90deg, #af2896, #509bf5);
}

.not-logged-in {
    padding: 11px 24px 7px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p1 {
    font-size: 12px;
    text-transform: uppercase;
}

.btn {
    height: 48px;
    font-size: 1.6rem;
}
