.container {
    min-height: calc(100vh - 64px - 72px - 8px);
    position: relative;
    padding: 24px;
    background-color: var(--background-base);
}

.wrapper {
    padding: 16px 0;
}

.content {
    position: relative;
    width: 100%;
    overflow-y: scroll;
}

.song-container {
    padding: 20px;
    & > p {
        margin-bottom: 8px;
        font-size: 1.4rem;
        color: var(--text-grey);
    }

    & > h3 {
        margin-bottom: 20px;
        font-size: 2.3rem;
        font-family: var(--font-family-title);
    }

    .song-list {
        & > li {
            list-style: none;
        }
    }
}

.artist-album-container {
    padding: 20px;
}

.hide-btn {
    display: none;
}

.show-btn {
    display: block;
}
